@import './../../../less/index.less';

.release_page {
    // background-color: @content-bg;
}

.content {
    background-color: @content-bg;
    padding: @module-padding;
    margin: 0 auto;
}

.item+.item {
    margin-top: @box-padding;
}

.price_label {
    display: inline-block;
    &+& {
        margin-left: 100px;
    }
    .price_input {
        width: 100px;
        display: inline-block;
        margin: 0 @text-border-padding;
    }
}

.btn_label {
    text-align: center;
    margin-top: @module-padding;
    &>button {
        cursor: pointer;
        display: inline-block;
        height: 50px;
        line-height: 50px;
        width: 160px;
        color: #fff;
        background-color: #ffbf77;
        &+button {
            margin-left: @box-padding;
        }
    }
}